#wrap {
    background-image: url("../../images/bgimg.png");
}
#show {
    position: relative;
    width: 80%;
    height: 500px;
    align-content: center;
    margin: 10%;
    background-color: #aaa;
    float: left;
}

#container {
    width: 90vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#container div {
    width: 400px;
}
#container img {
    align-items: center;
}


/* всплывающие окошки на картинках */

.window {
  position: relative;
  width: 30%;
  height: 400px;
  background-position: center;
  background-color: #fff;
  border: solid;
  border-radius: 13px;
  border-color: #BF6B63;
  margin: 0.6em;
  background-repeat: no-repeat;
  background-size: contain;
}
.window p {
    font-size: 1.2em;
}
.window h2 {
  font-size: 1.5em;
  margin: 0 auto;
  color: #83A672;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
}
.window a {
    text-decoration: none;
    position: relative;
    float: right;
    font-size: 1.2em;
    margin: 0.8em;
    color: #444444;
    border-radius: 10%;
    padding: 0.2em;
    background: rgba(255, 250, 205, 0.9);
    border: 1px solid #BF6B63;
}
.window a:hover {
    color: #A52A2A;
}
span {
    color: #BF6B63;
    font-weight: bold;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255, 0.8);
  overflow: hidden;
  border-radius: 13px;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.window:hover .overlay {
  height: 60%;
}
.text {
  white-space: nowrap;
  color: #000;
  font-size: 1.2em;
  font-family: 'Comfortaa', cursive;
  margin-left: 1.5em;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/* пагинация*/
.pagination {
    width: 100%;
    margin-left: 33%;
    margin-top: 3.5em;
    display: inline-block;
}
nav {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    list-style-type: none;
}
.page-item {
    float: left;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 4px;
    transition: background-color .3s;
    border: 1px solid #818181 !important;
    border-radius: 5px;

}
.page-item:hover {
    background-color: #fff;
    color: #000 !important;
}
.page-item a:visited {
    color: #000 !important;
}
nav li {
    list-style-type: none;
}
.page-item.active {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #F2A950;
    color: white;
    border-radius: 5px;
    margin: 0 4px;
    border: 1px solid #d1780c;
}
.page-link {
    text-decoration: none;
    color: white !important;
}

/*кнопки меню*/
.breadcrumb {
    width: 100%;
    position: relative;
    float: right;
    margin-top: 1.3em;
    text-align: center;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
}

ul.breadcrumb li {
    display: inline-block;
    padding: 0.8em;
}

ul.breadcrumb li a {
    color: #F29472;
    font-weight: bold;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #eb602e;
    text-decoration: underline;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.8;}



