*{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#wrap {

display: flex;
flex-direction: column;
height: 100%;
width: 100%;
margin: 0 auto;
width: 100%;
height: auto;
background-color: #F2F0CE;
font-family: 'Oxygen', sans-serif;
/*background-image: url(../images/11111.png);*/
}
header{
width: 100%;
height: 50px;
margin-top: 30px;
}
header a {
text-decoration: none;
}
#hello {
width: 100%;
height: 400px;
background-color: #83A672;
}
.fig{
width: 100px;
height: auto;
align-content: center;
display: block;
margin: 0 auto;
}
.fig img{
border-radius: 50%;	
}
#hello h1{
position: relative;
overflow: hidden;
padding-top: 20px;
width: 100%;
text-align: center;
height: auto;
color: #fff;
font-family: 'Oxygen', sans-serif;
font-size: 2.8em;
font-weight: bold;
}
#hello p {
font-family: 'Oxygen', sans-serif;
font-size: 1.8em;
text-align: center;
color: #fff;
margin-top: 30px;
}
#skills {
width: 100%;
height: 420px;
margin: 0 auto;
margin-bottom: 0px;
background-color: #F2F0CE;

text-align: center;
font-family: font-family: 'Oxygen', sans-serif;
}
#skills h1, #services h1 {
padding-top: 30px;
}
#skills h1 {
color:  #F29472;
}
h1 {
font-weight: bold;
}
li {
font-size: 1.4em;
margin-top: 1.2em;
}
#services {
width: 100%;
height: 420px;
margin: 0 auto;
margin-bottom: 0px;
background-color: #F2A950;
color: #fff;
text-align: center;
}
footer {
text-align: center;
color: #000;
width: 100%;
font-size: 1.4em;
}
footer a {
	text-decoration: none;
	color: #F29472;
	font-weight: bolder;
}
span{
color: #F29472;
}
#top {
text-align: center;
}
#up {
width: 100%;
height: auto;
position: relative;
float: left;
}
#up img {
width: 50px;
height: 50px;
opacity: 0.6;
margin-left: 93%;
padding: 10px;
}
#up img:hover {
opacity: 1;
}
#share {
    width: 100%;
    height: 100px;
}
#share span {
	width: 20px;
}