#wrap {
    background-image: url("../images/bgimg.png");
}
#content {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
    background-color: #83A672;
    text-align: center;
    padding-bottom: 2em;
}

#content h2 {
    padding: 1.2em;
    color: #fff;
    font-size: 2.6em;
    font-weight: bold;
}
#content p {
    font-size: 28px;
    color: #fff;
}
#content2 {
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 0px;
}
#skype p, #telega p, #mail p {
    margin-top: 2em;
}
#phone p {
    margin-top: 2.8em;
}

#skype {
    padding-top: 1.3em;
    background-color: #F29472;
    background-size: 110px 110px;
    background-image: url("../images/media/skype.png");
}

#telega {
    padding-top: 1.3em;
    background-size: 110px 110px;
    background-image: url("../images/media/telegram.png");
}

#phone {
    padding-top: 0.1em;
    background-size: 130px 130px;
    background-image: url("../images/media/phone.png");
}
#phone p, #telega p {
    color: #000;
}

#mail {
    width: 100%;
    padding-top: 1.3em;
    background-size: 110px 110px;
    background-image: url("../images/media/mail.png");
    background-color: #F2A950;
}

#skype,
#telega,
#phone,
#mail {
  width: 100%;
  height: 200px;
  align-content: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 30%;
  font-size: 1.3em;
  color: #fff;
}
#share {
    background-color: rgb(242, 148, 114, 0);;
}
