* {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
body {
    width: 100%;
    height: auto;

}
#wrap {
    overflow: hidden;
    margin: 0 auto;
    background-color: #F2E8B6;
}
header {
    width: 100%;
    height: auto;
}

.menu-main {
  list-style: none;
  margin-top: 8.5em;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}

.menu-main li {
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  margin: 2.5em;
}

.menu-main a {
  text-decoration: none;
  display: inline-block;
  color: #83A672;
  transition: .3s linear;
  position: relative;
}
nav a:hover {
    color: #57704b;
}

.top {
    width: 100%;
    height: 20em;
    overflow: hidden;
}

.logo {
    border-radius: 50%;
    position: relative;
    background-image: url(../../images/mylogo.png);
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    width: 13em;
    height: 13em;
    margin-top: 2.8em;
    margin-left: 10.5em;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #BF6B63;
    text-align: center;
}

.logo:hover {
    background-image: url(../../images/mylogo2.png);
}

.logo a {
   display: block;
   margin-top: 9.5em;
   border-radius: 50%;
   background: rgba(255,255,255, 0.9);
   text-decoration: none;
   font-size: 1.2em;
}
.logo a:visited {
    color: #BF6B63;
}
footer {
    margin-top: 5.5em;
}

footer a {
    text-decoration: none;
    color: #F29472;
    font-weight: bolder;
}

.hr-shelf {
    margin: -30px auto 30px;
    padding: 0;
    height: 50px;
    border: none;
    border-bottom: 1px solid #BF6B63;
    box-shadow: 0 20px 20px -20px #8b8255;
    width: 95%;
}
.list {
    float: left;
    width: 45%;
    height: 50px;
    margin-left: 2%;
    margin-right: 3%;
    margin-top: 5.5em;
}

.b-list {
    width: 300px;
    height: 300px;
    margin: 0 0 80px 0;
}

#up {
    width: 50px;
    height: auto;
    position: relative;
    top: 95%;
    left: 90%;
}

#up img {
    width: 50px;
    height: 50px;
    opacity: 0.6;
    margin-left: 93%;
    padding: 10px;
}

#up img:hover {
    opacity: 1;
}

#cr {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    text-align: center;
    margin: 0 auto;
    float: left;
    font-size: 0.8em;
}

#cr a {
    color: #fff;
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .top {
        height: 300px;
    }

    .b-list {
        float: left;
        width: 32%;
        margin: 0 0 0 2%;
    }

    .b-list:first-child {
        margin: 0;
    }

}

@media screen and (max-width: 600px) {
    .top {
        height: 300px;
    }

    .logo {
        float: none;
    }

    .item {
        float: none;
        width: 100%;
        margin: 30px 0 0;
    }

    .list {
        margin: 0 15% 0 0;
    }

    .b-list {
        margin: 0 0 30px 0;
    }

}


#share {
    padding-top: 4.5em;
    margin: 0 auto;
    width: 100%;
    height: 100px;

}
.ya-share2_inited {
    display: flex;
    justify-content: center;

}
.ya-share2__badge {
    width: 50px;
    height: 25px;
    border: solid 1px #fff;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

